// Create a partial for your mixins in your utilities folder
// Inside your mixins partial, you’ll want to create mixins for:
//   - Media Queries
//   - Flexbox settings

@mixin rounded($rb) {
  border-radius: $rb;
}

@mixin flex-buttons {
  .grid__col--12 {
    display: flex;
    flex-wrap: wrap;
    button {
      flex: 1 100%;
      flex-direction: column;
      @media (min-width: 768px) {
        flex: 1 20%;
        flex-direction: row;
      }
    }
  }
}

@mixin grids {
  padding: 10px;
  max-width: 100%;
  margin: $gutter/2 0;
  @include rounded(5px);
  @content;
}

@mixin flex-nav {
  @media (min-width: 768px) {
    & {
      display: flex;
    }
    .grid__col--3 {
      flex: 1;
      margin: auto;
    }
    .grid__col--9 {
      flex: 1;
      margin: auto;
    }
    .img--logo {
      margin: $margins;
    }
    @include flex-nav-items;
  }
}

@mixin flex-nav-items {
  .nav {
    display: flex;
    margin: auto;
  }
  .nav__item {
    padding: $padding;
  }
}

@mixin flex-typo-form {
  @media (min-width: 768px) {
    & {
      display: flex;
    }
    .grid__col--8 {
      flex: 2;
      padding-left: $padding;
      padding-right: $padding;
      h4 {
        margin: 0;
      }
    }
    .grid__col--4 {
      flex: 1;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}

@mixin flex-images {
  @media (min-width: 768px) {
    & {
      display: flex;
    }
    .grid__col--6 {
      flex: 1;
      margin: auto;
    }
  }
}
