// Create a partial for your mixins in your utilities folder
// Inside your mixins partial, you’ll want to create mixins for:
//   - Media Queries
//   - Flexbox settings

@mixin rounded($rb) {
  border-radius: $rb;
}

@mixin buttons {
  padding: 10px;
  max-width: 100%;
  margin: $gutter/2 0;
  @include rounded(5px);
  @content;
}

//==========================================================================
//                           Media Queries
//==========================================================================




//==========================================================================
//                             Flexbox
//==========================================================================
