// Create a partial for variables in your utilities folder
//   - Use this partial to create variables for your repeated values.
//   - At minimum, create variables for fonts, breakpoints, and colors.
//   - Import this partial into your utilities/index.scss file

//=========================================================================
//                                 Colors
//=========================================================================

// misc colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-font-primary: #808080;
$color-font-alternate: #fff;
$color-font-secondary: #787878;

// colors-button

$btn-colors: (
  'default': $color-secondary,
  'success': #63cc82,
  'error'  : #e4757a,
  'warning': #fd7856,
  'info'   : #927bc1,
);

// colors-grid

$grid-colors: (
  '3' :  #deb2ee,
  '4' :  #7ee6fd,
  '5' :  #88d9a0,
  '6' :  #3fabca,
  '7' :  #ec9fa3,
  '8' :  #fd9f85,
  '12':  #80e8d1,
);


//==========================================================================
//                                 Fonts
//==========================================================================

$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-helvetica: 'Helvetica Neue', $stack-sans-serif;
$stack-lucida: Lucida, sans-serif;












//==========================================================================
//                      Media Queries & Breakpoints
//==========================================================================

$brk-dsktp: ('(min-width: 768px)');




$gutter: 25px;
$brdr-space: 25px;
