.container {
  margin-left: $gutter;
  margin-right: $gutter;
}

.grid__row {
  padding: 10px 0;
}

[class^='grid__col--'].theme__colors {
  @include buttons-and-grids {                    //div
    color: $color-font-secondary;
    font-weight: bolder;
  }
}
