.container {
  margin-left: $gutter;
  margin-right: $gutter;
}

.grid__row {
  padding: $padding 0;
  @include flex-nav;
  @include flex-typo-form;
  @include flex-images;
}

@include flex-buttons;

[class^=".grid__col--"].theme__colors {
  @include grids {                    //div
    color: $color-font-secondary;
    font-weight: bolder;
  }
}
