.img--logo {
  display: block;
  @include element-padding-spacer($med);
  @extend %element-center;
}

.img--frame,
.img--avatar {
  display: block;
  @include element-padding-spacer($lg);
  @extend %element-center;
  max-width: 100%;
}

.img--frame {
  border: 1px solid lighten($color-font-primary, 30%);
}
