.nav {
  @extend %style-none;
  padding-left: 0;
}

.nav__item {
  @include element-padding-spacer($med);
  text-align: center;
  a {
    @extend %no-decoration;
    color: $color-font-primary;
  }
}

.nav__item:hover, .nav__item:focus {
  background: $color-primary;
  @include rounded($sm);
}
