.container {
  color: $color-font-primary;
  font-family: $stack-helvetica;
  font-weight: lighter;
  & p {
    line-height: 1.5em;
  }
}
.headline--primary {
  @extend %headline-color;
  font-weight: 800;
  margin-left: $gutter;
}

.headline--secondary {
  @include heading-spacer($med);
  font-size: 1.15em;
  font-weight: 100;
}

.link {
  color: $color-secondary;
  @extend %no-decoration;
  font-weight: 800;
}

.blockquote {
  @include rounded(5px);
  padding-left: 25px;
  border-left: 5px solid $color-primary;
  font-style: italic;
  font-size: 1.5em;
}
